//@use "variables"; // _variables.scss
@import "variables";

:root {
  --text: #1f1e1e;
}

body {
  color: var(--text);
  background-color: $background-color
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
