//@use "variables"; // _variables.scss
@import "variables";

:root {
  --text: #1f1e1e;
}

body {
  color: var(--text);
  background-color: $background-color
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  height: 300px;
  background-image: url("../images/054.jpg");
  background-position: center;
  background-size: cover;
}
